#
# This is the .gitignore file for dante-wiki, the master development repository
#

.DS_Store
deprecated/
*.zip

private/

vendor/

#
# private configuration data
#
customize-PRIVATE.sh
localhost-key.pem
localhost.pem
login-key
login-key.pub
server.key
server.pem
mediawiki-PRIVATE.php
AWS-PRIVATE.txt
images/ssh-copy/bin/ssh_host_rsa_key.pub

# the content directories in volumes are generated locally

volumes/full/content/wiki-dir


##
## configuring live
##

live/wiki-dir

!live/wiki-dir/README-patch-test.md

### Files which we must re-include

!README-dantepatch.md

#!includes/import/WikiImporter.php
#!includes/media/SVGReader.php
#!DantePolyfill.php
#!DanteSettings.php
#!DanteSettings-production.php
#!DanteSettings-development.php
#!README-dante-delta.md
#!.gitignore

### Directories which we want to include
#!extensions/DanteSynch
#!extensions/DanteHideSection
#!extensions/DanteBread
#!extensions/DanteLinks
#!extensions/DanteSnippets
#!extensions/DanteTree
#!extensions/DantePresentations
#!extensions/DanteBackup
#!extensions/DanteSyntax
#!skins/skinny
#!skins/DantePresentationSkin










.vscode/tasks-min.json


