[submodule "dantedelta"]
  path = live/wiki-dir
  url =  https://github.com/clecap/dante-delta
  ignore = all

[submodule "parsifal"]
  path = live/wiki-dir/extensions/Parsifal
  url = https://github.com/clecap/Parsifal
  ignore = all

