#
# This is the .gitignore file for dante-wiki, the master development repository
#

.DS_Store
deprecated/
*.zip
mupdf-1.20.3-source/
mupdf-1.20.3-source.tar

vendor/

#
# private configuration data
#
customize-PRIVATE.sh
localhost-key.pem
localhost.pem
login-key
login-key.pub
server.key
server.pem
mediawiki-PRIVATE.php
AWS-PRIVATE.txt
images/ssh-copy/bin/ssh_host_rsa_key.pub

# the content directories in volumes are generated locally


### JUST keep this in as a marker for a while
#volumes/minimal/content
#
#
#
#
#volumes/full/content/wiki-dir/*
#!volumes/full/content/wiki-dir/extensions/
#
#volumes/full/content/wiki-dir/extensions/*
#!volumes/full/content/wiki-dir/extensions/Parsifal
#
#
#parsifal-cache/
#


.git/




