#
# This is the .gitignore file for dante-wiki, the master development repository
#

.DS_Store
deprecated/
*.zip

private/

vendor/

#
# private configuration data
#
customize-PRIVATE.sh
localhost-key.pem
localhost.pem
login-key
login-key.pub
server.key
server.pem
mediawiki-PRIVATE.php
AWS-PRIVATE.txt
images/ssh-copy/bin/ssh_host_rsa_key.pub

# the content directories in volumes are generated locally

volumes/full/content/wiki-dir


##
## configuring live
##


live/error404.html
live/favicon.ico

live/wiki-dir

# in live there is another .gitignore file which does some reincludes!


.vscode/tasks-min.json


