name: Generate SBOM for Dockerfiles

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight      

permissions:
  contents: read

jobs:
  generate-sbom:
    permissions:
      contents: write  # for Git push
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Install syft (Anchore CLI)
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh \
            | sh -s -- -b /usr/local/bin
          syft version

      - name: Generate SBOM for Docker image and repo
        run: |
          mkdir -p .github/results
          syft clecap/dante-wiki:latest -o json \
            > .github/results/sbom-dante-wiki-docker.json
          syft dir:. -o json \
            > .github/results/sbom-dante-wiki-docker-repo.json
          ls -alg .github/results

      - name: Commit SBOM files
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .github/results/sbom-dante-wiki-docker.json
          git add .github/results/sbom-dante-wiki-docker-repo.json
          git commit -m "Add auto-generated SBOM files" || echo "Nothing to commit"
          git push origin ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
